docs/n8n-workflows/1-daily-backup.json
{
  "name": "OpenCell - Daily Backup",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 3 * * *"
            }
          ]
        }
      },
      "name": "Every day at 3am",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [250, 300],
      "id": "schedule-trigger"
    },
    {
      "parameters": {
        "url": "http://localhost:3000/api/backup/export",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": false,
        "sendHeaders": false,
        "sendBody": false,
        "options": {}
      },
      "name": "Export Conversations",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [450, 300],
      "id": "export-conversations"
    },
    {
      "parameters": {
        "url": "http://localhost:3000/api/backup/bots",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": false,
        "sendHeaders": false,
        "sendBody": false,
        "options": {}
      },
      "name": "Export Bot Configs",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [450, 450],
      "id": "export-bots"
    },
    {
      "parameters": {
        "url": "http://localhost:3000/api/backup/analytics",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": false,
        "sendHeaders": false,
        "sendBody": false,
        "options": {}
      },
      "name": "Export Analytics",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [450, 600],
      "id": "export-analytics"
    },
    {
      "parameters": {
        "operation": "compress",
        "binaryPropertyName": "data",
        "options": {}
      },
      "name": "Create ZIP",
      "type": "n8n-nodes-base.compression",
      "typeVersion": 1,
      "position": [650, 300],
      "id": "create-zip"
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "resource": "file",
        "operation": "upload",
        "name": "=backup-{{ $now.format('YYYY-MM-DD') }}.zip",
        "resolveData": false,
        "parents": {
          "parentId": [
            {
              "id": "YOUR_GOOGLE_DRIVE_FOLDER_ID"
            }
          ]
        },
        "options": {}
      },
      "name": "Upload to Google Drive",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [850, 300],
      "id": "upload-drive"
    },
    {
      "parameters": {
        "channel": "#alerts",
        "text": "=✅ Daily backup completed: backup-{{ $now.format('YYYY-MM-DD') }}.zip",
        "attachments": [],
        "otherOptions": {}
      },
      "name": "Notify Slack",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2,
      "position": [1050, 300],
      "id": "notify-slack"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.status }}",
              "operation": "notEqual",
              "value2": "success"
            }
          ]
        }
      },
      "name": "If Backup Failed",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [850, 450],
      "id": "if-failed"
    },
    {
      "parameters": {
        "channel": "#alerts",
        "text": "=❌ Daily backup FAILED!\n\nError: {{ $json.error }}",
        "attachments": [],
        "otherOptions": {
          "mrkdwn": true
        }
      },
      "name": "Alert on Failure",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2,
      "position": [1050, 450],
      "id": "alert-failure"
    }
  ],
  "connections": {
    "Every day at 3am": {
      "main": [
        [
          {
            "node": "Export Conversations",
            "type": "main",
            "index": 0
          },
          {
            "node": "Export Bot Configs",
            "type": "main",
            "index": 0
          },
          {
            "node": "Export Analytics",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Export Conversations": {
      "main": [
        [
          {
            "node": "Create ZIP",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Export Bot Configs": {
      "main": [
        [
          {
            "node": "Create ZIP",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Export Analytics": {
      "main": [
        [
          {
            "node": "Create ZIP",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create ZIP": {
      "main": [
        [
          {
            "node": "Upload to Google Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload to Google Drive": {
      "main": [
        [
          {
            "node": "If Backup Failed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Backup Failed": {
      "main": [
        [
          {
            "node": "Alert on Failure",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Notify Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-02-12T00:00:00.000Z",
  "versionId": "1"
}
